<footer class="container">
  <section class="footer-content">
    <div class="col-md-6 content-idioma">
      <img
        src="./assets/images/logotipo.png"
        alt="logotipo"
        width="50%"
        height="50%"
      />
      <select name="idiomas" id="idiomas">
        <option value="español">Español</option>
        <option value="ingles">Ingles</option>
      </select>
      <div class="icons">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </div>
    <div class="col-md-6 infogeneral">
      <div>
        <h5>¿Quiénes somos?</h5>
        <p>Voluntariados</p>
        <p>Preguntas</p>
      </div>
      <div>
        <h5>Sé parte</h5>
        <p>Donativos</p>
        <p>Preguntas</p>
      </div>
      <div>
        <h5>Nuestros patrocinadores</h5>
        <p>Imagine Apps</p>
        <p>Fortinet</p>
        <p>Digital House</p>
        <p>Microsoft</p>
      </div>
    </div>
  </section>
  <div class="end"></div>
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    &copy;2022 Genially Tech.
  </p>
</footer>
