* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}




.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a {
	color: black;
	font-size: .99em;
    font-weight: bold;
}

.main-nav a:hover {
	color: #718daa;
}


.container-nav {
	padding-top: .5em;
	padding-bottom: .5em;
	// border: 1px solid #a2a2a2;
	background-color: white;
	-webkit-box-shadow: 0px 0px 14px 0px #c2c2c2;
	-moz-box-shadow: 0px 0px 14px 0px #c2c2c2;
	box-shadow: 0px 0px 14px 0px #c2c2c2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .nav-button{
    background-color: #24baf1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: .99em;
    width: 130px;
    height: 35px;
    

 }
.logo{
    flex-grow: 1;
    height: 60px;
    width: 170px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.container-nav,
	.main-nav {
		display: flex;
            
        
	}
	.container-nav{
        display: flex;
		flex-direction: column;
		align-items: center;
        align-content: center;
                
    	.container-nav{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
    
	}

}

@media (min-width: 1025px) {
	.container-nav {
		flex-direction: row;
		justify-content: center;
        
	}

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
     }
}

