<section class="header">
  <div class="container-nav">
    <nav>
    <img src="" alt="">
      <ul class="main-nav">
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Ser parte</a></li>
        <li><a>Genializate</a></li>
        <button class="nav-button">Ir a sitio</button>
      </ul>
    </nav>
  </div>
  <section class="banner">
    <!-- <img src="https://img.freepik.com/foto-gratis/diversos-ninos-leyendo-libros_53876-146406.jpg?w=740&t=st=1659236602~exp=1659237202~hmac=51a2983e70ebdc302eb39a42a6abe4bd705bd30fc9a0cc85af7f5a89b63b259d" alt="img-banner1">
    <img src="https://img.freepik.com/foto-gratis/iconos-espacio-exterior-dibujo-concepto-graficos_53876-167098.jpg?w=740&t=st=1659236631~exp=1659237231~hmac=9bf610f4dd0b3258656f82e8d32dcb23907a5f1ffdfac2f6494f92f21274e0b4" alt="img-banner2">
    <img src="https://img.freepik.com/foto-gratis/ninos-divirtiendose-juegos-tradicionales_23-2149317168.jpg?w=826&t=st=1659236687~exp=1659237287~hmac=bf4bc1846effcabada7515e896b7d6574ed4b89ec04577e024d69293dafa74e9" alt="img-banner3"> -->
  </section>
</section>
