<app-header></app-header>
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" hidden>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let img of arrayImg" class="carousel-item active">
        <img [src]="img.link" [alt]="img.nombre" width="100%" height="700" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section>
    <div class="row h-100 divFantasma ocultaResponsive">
      <div class="col-md-1"></div>
      <div class="col-md-11 my-auto"></div>
    </div>
    <div class="row h-100" style="min-height: 400px">
      <img
        class="img-fluid mx-auto imgFlotante ocultaResponsive"
        width="500"
        height="500"
        src="./assets/images/quienes-somos.png"
        alt="about-us"
      />

      <div class="col-md-1 backgroundColor"></div>
      <div class="col-md-6 my-auto" id="id1">
        <h2 class="featurette-heading fw-normal lh-1 style-tittle">
          ¿Quiénes somos?
        </h2>
        <p class="lead">
          La plataforma <span class="letra-grosor">Geniallity Tech </span> es
          una plataforma de ámbito estatal, privada, sin ánimo de lucro que
          trabaja para promover Educación de Calidad en las poblaciones más
          vulnerables y desprotegidas.
        </p>
      </div>
      <div class="col-md-4 my-auto margin-bo">
        <img
          hidden
          class="img-fluid mx-auto"
          width="700"
          height="700"
          src="./assets/images/quienes-somos.png"
          alt="about-us"
        />
      </div>
    </div>
    <div class="row h-100 backgroundColor">
      <div class="col-md-1 backgroundColor"></div>
      <div class="col-md-5 my-auto pad-0">
        <img
          class="img-fluid mx-auto"
          width="100%"
          height="100%"
          src="./assets/images/arduino.png"
          alt="volunteer"
        />
      </div>
      <div class="col-md-5 my-auto">
        <p class="lead">
          Arduino es una compañía de desarrollo de software y hardware libres,
          así como una comunidad internacional que diseña y manufactura placas
          de desarrollo de hardware para construir dispositivos digitales y
          dispositivos interactivos que puedan detectar y controlar objetos del
          mundo real.
        </p>
      </div>
    </div>
  </section>
  <section>
    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->

      <!-- START THE FEATURETTES -->

      <div class="row featurette" id="id2">
        <div class="tittle-categories">
          <h1>Categorías</h1>
        </div>

        <div class="col-lg-3 cont-categories">
          <img
            class="categories"
            src="./assets/images/bibliotecas.png"
            alt="volunteer"
          />
          <h2 class="fw-normal">Biblioteca</h2>
          <p>Lecto-Escritura</p>
        </div>

        <div class="col-lg-3 cont-categories">
          <img
            class="categories"
            src="./assets/images/logico.png"
            alt="volunteer"
          />
          <h2 class="fw-normal">Lógico</h2>
          <p>Matemático</p>
        </div>

        <div class="col-lg-3 cont-categories">
          <img
            class="categories"
            src="./assets/images/limites.png"
            alt="volunteer"
          />
          <h2 class="fw-normal">No</h2>
          <p>te limites</p>
        </div>

        <div class="col-lg-3 cont-categories">
          <img
            class="categories"
            src="./assets/images/mujeres.png"
            alt="volunteer"
          />
          <h2 class="fw-normal">Mujeres</h2>
          <p>Tech</p>
        </div>
      </div>
      <!-- /.row -->

      <hr class="featurette-divider" />

      <div class="row d-flex" id="id3">
        <div class="col-md-6">
          <img
            class="img-fluid mx-auto d-flex justify-content-center"
            width="300"
            height="300"
            src="./assets/images/voluntario.png"
            alt="volunteer"
          />
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading fw-bold lh-1">
            Sé parte <span class="text-muted">de nuestros voluntarios</span>
          </h2>
          <p class="lead">
            El trabajo voluntario beneficia tanto a las sociedades en general
            como al voluntario individual. Nuestro programa está diseñado para
            reclutar y asignar voluntarios a proyectos que mejoren, fortalezcan
            y expandan servicios a los clientes en los programas
            departamentales.
          </p>
          <button class="btn-volunteer">Postular</button>
        </div>
      </div>

      <hr />

      <div class="row">
        <div
          class="col-md-6 d-flex justify-content-center align-self-center p-4"
        >
          <img
            class="img-fluid mx-auto"
            width="300"
            height="300"
            src="./assets/images/Computer-Donation.png"
            alt="donation"
          />
        </div>

        <div class="col-md-6">
          <p class="lead p-donation">
            "Tu puedes marcar la diferencia donando material pedagógico o
            tecnológico".
          </p>
          <button class="btn-volunteer">Donar</button>
        </div>
      </div>
      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->
    <div class="start" id="id4">
      <h1 class="text-start">Inicia tu aprendizaje</h1>
      <button class="btn-start">Clic aquí</button>
    </div>
    <div class="tittle-sponsor"><h3>Nuestros Patrocinadores</h3></div>

    <div
      class="row featurette justify-content-center align-self-center margin-patrocinantes"
    >
      <div class="col-lg-3 sponsor-img">
        <img
          class="img-fluid mx-auto"
          width="200"
          height="200"
          src="https://uploads-ssl.webflow.com/5ef9e7820240534a394d4b30/5ef9e81e0240532d0b4d4cd6_LOGOEXPORT3-01(1200x600)TRANS-01.png"
          alt="donation"
        />
      </div>
      <div class="col-lg-3 sponsor-img">
        <img
          class="img-fluid mx-auto"
          width="200"
          height="200"
          src="./assets/images/fortinet.png"
          alt="donation"
        />
      </div>
      <div class="col-lg-3 sponsor-img">
        <img
          class="img-fluid mx-auto"
          width="200"
          height="200"
          src="./assets/images/digital-house.png"
          alt="donation"
        />
      </div>
      <div class="col-lg-3 sponsor-img">
        <img
          class="img-fluid mx-auto"
          width="200"
          height="200"
          src="./assets/images/Microsoft.jpeg"
          alt="donation"
        />
      </div>
    </div>
    <hr class="featurette-divider" />
  </section>
  <app-footer></app-footer>
</main>
