.fondo-arduino{
    background:red !important;
}
.btn-volunteer{
    border: 4px solid #24BAF1;
    border-radius: 12px;
    padding: 5px;
    width: 150px;
    font-weight: bold;
    margin-top: 30px;
}
.p-donation{
    font-weight: bold;
    font-size: 30px;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    height: 234px;
    padding: 10px;
    
}
.btn-start{
    border-radius: 12px;
    padding: 5px;
    width: 160px;
    height: 40px;
    font-weight: bold;
    background:#24BAF1 ;
    border: none;
    margin-top: 50px;
}
.text-start{
    font-weight: bold;
    font-size: 34px;
}
.tittle-sponsor{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}




.backgroundColor{
    background:#24baf1 ;
}
.pad-0{
    padding: 0 !important;
}
.style-tittle{
    font-weight: bold !important;
    margin-bottom: 3rem;
}
.margin-bo{
    margin-bottom: 1rem !important;
}
.letra-grosor{
    font-weight: bold !important;
}
.jumbotronBack{
    background:#ccc ;
    padding: 1rem !important;
}
.divFantasma{
    min-height: 3rem;
}
.ocultaResponsive{
    display: block;
}
.imgFlotante{
    width: 26%;
    position: absolute;
    float: right;
    margin-left: 68% !important;
    margin-top: -3rem;
}
.margin-patrocinantes{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 500px) {
   .ocultaResponsive{
    display: none;

   }
  }