.fondo-arduino{
    background:red !important;
}
.btn-volunteer{
    border: 4px solid #24BAF1;
    border-radius: 12px;
    padding: 5px;
    width: 150px;
    font-weight: bold;
    margin-top: 30px;
}
.p-donation{
    font-weight: bold;
    font-size: 30px;
}
